deploy_production:
  stage: deploy
  only:
    - main
  before_script:
    - apk add --no-cache openssh
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/gitlab
    - chmod 600 ~/.ssh/gitlab
    - ssh-keyscan -H $VPS_HOST >> ~/.ssh/known_hosts

  script:
    - |
      ssh -i ~/.ssh/gitlab $VPS_USER@$VPS_HOST << 'EOF'
        cd /var/www/portfolio-frontend
        git pull origin main
        docker compose up -d --build
      EOF
